@import '../bootstrap/bootstrap';

.navigation-bar [class^="col-"],
.navigation-bar [class*=" col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.navigation-bar .nav-tabs {
  background: $gold;
  border: 0;
}

.navigation-bar .nav-tabs {
  display: flex;
  flex-wrap: nowrap;
}

.navigation-bar .nav-tabs li {
  margin: 0rem 1rem 0 3.5rem;
  white-space: nowrap;

  &[class="active"] {
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1rem solid $darkgrey;
  }

  & > a:hover {
    text-decoration: none;
  }

  a {
    width: 100%;
    height: 100%;
    display: block;
    color: $darkgrey;
    font-size: 1.5rem;
    padding: 2rem 2rem 0 2rem;
    font-family: 'Josefin Sans', sans-serif;
  }
}

.events-tab-content, .blog-tab-content {
  margin: 0 3.5rem;
}

.tab-content {
  background: $screen;
  height: 100%;
}

@include media-breakpoint-down(sm) {


  .navigation-bar .nav-tabs li {

    flex-wrap: nowrap;

    &[class="active"] {
      font-weight: bold;
      padding-bottom: .25rem;
      border-bottom: .65rem solid $darkgrey;
    }

    a {
      font-size: 1.25rem;
      padding: 1rem 1rem 0 1rem;
    }
  }

  .navigation-bar .nav-tabs li {
    margin: 0rem 1rem 0 1.5rem;
  }

}
