@import '../../components/bootstrap/bootstrap';

.post-details{
  background-color: $screen;
}

.post-details .article-container {
  margin: 35px auto 0;
  font-size: 1.7rem;
  width: 70%;
}

/* These are styles to target rendered content coming back from WordPress generated markup so be mindful if refactoring */
/* And test many different articles to ensure no regression, ex. https://github.com/ProvidenceGeeks/website-frontend/issues/134 */
.post-details article img.size-medium{
  float: left;
  margin: 15px 15px 40px;
}

.post-details article b {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 2.5rem;
  margin-bottom: -5px;
  display: block;
}

.post-details article b, p {
  clear: both;

  br {
    display: none;
  }
}

.post-details article figure img, .post-details article img.size-full{
  height: 100%;
  width: 100%;
}

.post-details article figure figcaption.wp-caption-text{
  color: $lightgrey;
  font-style: italic;
}

@include media-breakpoint-down(xs) {
  .post-details h3.custom-title{
    font-size: 1.35rem;
  }

  .post-details .article-container {
    padding: 1rem;
    font-size: 1.25rem;
    width: 100%;
    margin: 0;
  }

  .post-details .article-container article{
    width: 100%;
  }
}
