@import '../bootstrap/bootstrap';

$social-icon-size: 2.5rem;

.social {
  margin: 0;
}

.slack-icon,
.twitter-icon,
.github-icon {
  width: $social-icon-size;
}

.facebook-icon {
  width: $social-icon-size;
  height: $social-icon-size;
}

@media (min-width: 768px) {
  .social li a {
    margin-right: $social-icon-size/1.5;
  }
}
