@import '../bootstrap/bootstrap';

.events-header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  padding: 2.5rem 0;
}

.events-grid {
  margin-bottom: 2rem;
}

.events-grid .card {
  margin: 0 1rem !important;
}

.events-grid .card:first-child {
  margin-left: 0 !important;
}