@import '../bootstrap/bootstrap';

.events-header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  padding: 2.5rem 0;
}

.events-grid {
  margin-bottom: 2rem;
  display: flex;
}

.events-grid > div {
  margin-bottom: 1.5rem;
}

.events-grid .card {
  margin: 0 1.5rem 1.5rem 0 !important;
  height: 100%;
}

.events-grid .card:first-child {
  margin-left: 0 !important;
}