version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6.11.0

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install Yarn
          command: sudo npm install -g yarn@~1.0.0

      - run:
          name: Install Project Dependencies
          command: yarn install

      - run:
          name: Run Jest Tests
          command: yarn test --coverage

      - run:
          name: Execute The Build
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              echo "Master branch, releasing to production"

              export RELEASE_ENV=production
              yarn run release

            else if [ "${CIRCLE_BRANCH}" == "develop" ]; then
              echo "Develop branch, releasing to stage"

              export RELEASE_ENV=stage
              yarn run release

            else
              echo "Branch undetermined, likely a CI build"
              yarn run build
            fi