@import '../bootstrap/bootstrap.scss';

button.load-more {
  margin: 0 auto;
  cursor: pointer;
  color: $denim;
  font-weight: 300;
  background: $gold;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: .5rem 5rem;
  margin-bottom: 1.5rem;
  border: 1px solid $denim;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}