@import '../bootstrap/bootstrap';

.posts-header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  padding: 2.5rem 0;
}

@include media-breakpoint-down(sm) {
  .posts-header {
    font-size: 1.5rem;
    padding: 1.5rem 0;
  }
}