@import '../bootstrap/bootstrap';
$imgHeight: 233px!important;
.card {
  font-family: "Josefin Sans", sans-serif;
  background: none !important;
  border: none !important;
}

.lazyload-wrapper {
  .card-img {
    border-radius: 0 !important;
    min-height: $imgHeight;
    max-height: $imgHeight;
    object-fit: cover;
  }
  .fade-appear {
    opacity: 0.01;
  }
  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 600ms ease-in; //ms should match the value of transitionAppearTimeout
  }
}

.card-title-container {
  background: $denim;
  text-align: center;
  font-weight: 100;
  font-size: 1.4rem;
  color: $gold;
  width: 100%;
  padding: .55rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle-container {
  background: #355463;
  font-size: 0.8em;
  font-weight: normal;
  text-align: right;
  padding: .25rem .55rem;
  color: rgba(246, 205, 77, 0.7);
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-block {
  padding: .5rem;
}

.card-text {
  font-size: 1.1rem;
}

.card-info {
  width: 100%;
  margin-bottom: 1.5rem;
  line-height: 2.5;
}

.card-heading {
  font-size: .9rem;
  font-weight: bold;
  line-height: 1.25rem;
  margin-top: 10px;
}

.card-social-share {
   :hover {
    cursor: pointer;
  }
  width: 1.75rem;
  height: 1.75rem;
  enable-background: new 0 0 24 24;
  display: block;
}

.card-social {
  height: 100%;
  margin-top: 10px;
  white-space: nowrap;
  flex-wrap: nowrap;
  display: flex;
}

.social-link-fb svg,
.social-link-tw svg {
  height: 1.7rem;
  cursor: pointer;
}

.social-link-fb svg {
  .st0 {
    fill: #395898;
  }
}

.social-link-tw svg {
  .st0 {
    fill: #2DA1EC;
  }
}

@include media-breakpoint-down(sm) {
  .card-heading {
    font-size: .9rem;
  }
  .social-link-fb svg,
  .social-link-tw svg {
    height: 2rem;
  }
}