@import '../bootstrap/bootstrap';

$social-icon-size: 4rem;

.header {
  background: $darkgrey;
  display: flex;
  color: #fff;
}

.logo {
  height: 10rem;
}

.logo path {
  fill: $gold;
}

.logo svg {
  margin-left: 2rem;
  padding: 1rem 0;
  height: 9rem;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social {
  display: flex;
}

.social li {
  padding: 0 !important;
}

.social li a {
  margin-right: $social-icon-size/1.5;
}

.fa.fa-facebook {
  color: $white;
  background: $facebook-bg-color;
}

.fa.fa-twitter {
  color: $white;
  background: $twitter-bg-color;
}

.fa {
  color: $white;

  &.fa-facebook {
    background: $facebook-bg-color;
  }

  &.fa-twitter {
    background: $twitter-bg-color;
  }
}

.slack {
  width: $social-icon-size;
}

.circle {
  background-color: #333;
  border-radius: $social-icon-size;
  color: $white;
  font-size: ($social-icon-size/2);
  line-height: $social-icon-size;
  text-align: center;
  height: $social-icon-size;
  width: $social-icon-size;
}