@import '../bootstrap/bootstrap';

$social-icon-size: 2.5rem;

.header {
  background: $darkgrey;
  color: $white;
  width: 100%;
}

.logo path {
  fill: $gold;
}

.logo svg {
  margin-left: 2rem;
  padding: 1rem 0;
  height: 7rem;
}