@import '../bootstrap/bootstrap';

$social-icon-size: 2.5rem;

.footer {
  background: $darkgrey;
  color: $white;
}

.footer .logo path {
  fill: $gold;
}

.footer .logo svg {
  padding: 1rem 0;
  height: 7rem;
}

.footer-top {
  padding: 0 2rem;
  border-spacing: 15px;
  justify-content: space-between;
  width: 100%;
}

.footer .social {
  flex-direction: column;

  svg {
    height: $social-icon-size/2;
    width: $social-icon-size/2;
  }
}

@media (min-width: 768px) {
  .footer .social {
    flex-direction: row;

    li a {
      margin-right: $social-icon-size/1.5;
    }

    svg {
      height: $social-icon-size;
      width: $social-icon-size;
    }
  }
}
