@import '../bootstrap/bootstrap';

.footer {
  background: $darkgrey;
  color: $white;
}

.logo path {
  fill: $gold;
}

.logo svg {
  margin-left: 2rem;
  padding: 1rem 0;
  height: 7rem;
}

.footer-top {
  border-spacing: 15px;
}

.footer-hr-container {
  padding: 0 !important;
}

.footer.row > div {
  padding: 0;
}

.footer hr {
  margin: 0rem 1.66667rem 0rem 2rem !important;
  background: $lightgrey;
  width: 100%;
}

.copyright {
  padding: .33em 0 2em 2rem !important;
  color: $lightgrey;
}

.footer-top {
  width: 100%;
}