@import '../bootstrap/bootstrap';

.card-grid {
  margin-bottom: 2rem;
  display: flex;
}

.card-grid > div {
  margin-bottom: 1.5rem;
}

.card-grid .card {
  margin: 0 0.7rem 1.5rem 0.7rem !important;
  height: 100%;
}

@include media-breakpoint-down(sm) {
  .card-grid .card {
    margin: 0 !important;
  }
}